/include/ "system-conf.dtsi"
/ {
    reserved-memory {
        #address-cells = <1>;
	#size-cells = <1>;
	ranges;

        spif_reserved: reserved: buffer@3fffc000 {
            compatible = "shared-dma-pool";
            reusable;
            reg = <0x3fffc000 0x4000>;
	    linux,dma-default;
        };
    };

    spif {
        compatible = "uom,spif";
        apb = <&APB_M_0>;
        memory-region = <&spif_reserved>;
        dma0 = <&axi_dma_0 0>;
        dma1 = <&axi_dma_1 0>;
    };
};

/ {
	amba_pl: amba_pl {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges ;

		APB_M_0: APB_M_0@43c20000 {
			reg = <0x43c20000 0x10000>;
		};
	};
};

/ {
  chosen {
    xlnx,eeprom = &eeprom;
  };
};

/* default */

/* QSPI PHY */
&qspi {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";
    flash0: flash@0 {
        compatible = "jedec,spi-nor";
        reg = <0x0>;
        #address-cells = <1>;
        #size-cells = <1>;
    };
};



/* ETH PHY */
&gem0 {

	status = "okay";
    	ethernet_phy0: ethernet-phy@0 {
		compatible = "marvell,88e1510";
		device_type = "ethernet-phy";
                reg = <0>;
                marvell,reg-init = <3 16 0xff00 0x12 3 17 0xfff0 0x5>;
	};
};


/* USB PHY */
/{
    usb_phy0: usb_phy@0 {
        compatible = "ulpi-phy";
        //compatible = "usb-nop-xceiv";
        #phy-cells = <0>;
        reg = <0xe0002000 0x1000>;
        view-port = <0x0170>;
        drv-vbus;
    };
};

&usb0 {
    dr_mode = "host";
    //dr_mode = "peripheral";
    usb-phy = <&usb_phy0>;
};

/* I2C */
// i2c PLL: 0x70, i2c eeprom: 0x50

&i2c1 {
    rtc@6F {        // Real Time Clock
       compatible = "isl12022";
       reg = <0x6F>;
   };
  //MAC EEPROM
  eeprom: eeprom@50 {
    compatible = "atmel,24c08";
    reg = <0x50>;
  };
};

