[Unit]
Description=spif SpiNNaker/UDP/USB listening service

[Service]
Type=simple
ExecStart=/usr/local/bin/spiffer

[Install]
WantedBy=multi-user.target
